<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Most Ordered Dishes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/user/profile.css" />
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css" />
  </head>
  <body>
    <%- include('../partials/navbar', { user: user }) %>
    <div class="container-xl px-4 mt-4">
      <!-- Account page navigation -->
      <nav class="nav nav-borders">
        <a class="nav-link" href="/users/profile/edit">Profile</a>
        <a class="nav-link active" href="/users/profile/chart">Chart</a>
        <a class="nav-link" href="/users/profile/security">Security</a>
      </nav>
      <hr class="mt-0 mb-4" />
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="mb-4">Most Ordered Dishes (Website)</h2>
          <canvas id="mostOrderedDishesChart" width="400" height="200"></canvas>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="mb-4">Most Ordered Dishes (Your Restaurant)</h2>
          <canvas id="mostOrderedDishesRestaurantChart" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/javascripts/profileChart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <% if (user.role === "restaurant") { %>
      <script>
        var restauranteId = "<%= user._id %>";
      </script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/restaurantOrderNotification.js"></script>
    <% } %>
  </body>
</html>
